
.container {
    text-align: center;
    padding: 40px 20px;
    
}
h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.game-text {
         background: linear-gradient(45deg, #007BFF, #00C6FF); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.container p {
    color: #9ca3af;
    margin-top: -1rem;
    margin-bottom: -1rem;
    font-family: system-ui, sans-serif;
       font-size: 1.1rem;
}
.locations {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%; 
    margin: 0 auto 50px; 
}

.location-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 12px;
    width: 120px; 
    height: 40px;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    text-align: center;
}
.location-btn.active {
    background: radial-gradient(circle, rgba(0, 119, 255, 0.6) 10%, rgba(0, 119, 255, 0.5) 70%);
    box-shadow: 0 0 20px rgba(0, 119, 255, 0.521);
    border: 1px solid rgba(0, 119, 255, 1);
    transform: scale(1.05); 
}
.location-btn:not(.active) {
    background: linear-gradient(90deg, rgba(31, 41, 55, 0.8), rgba(31, 41, 55, 0.5));
    border: 1px solid rgb(35, 47, 63);
    color: #d1d5db;
    box-shadow: none;
}
.location-btn img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}


.plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto 100px auto; 
}


.plan {
    background-color: #1a2235;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ffffff13;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 335px; 
    position: relative;
    transition: transform 0.2s ease-in-out; 
    margin-bottom: 10px;
}
.plan:hover {
    transform: translateY(-5px); 
}

@media (max-width: 1024px) {
    .plans {
        grid-template-columns: repeat(2, 1fr); 
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 680px) {
    .plans {
        grid-template-columns: 1fr; 
        max-width: 80%; 
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plans .plan-card { 
        max-width: 90%; 
        padding: 15px;
    }
}


.plan h2 {
    font-size: 1.5rem;
       font-family: 'Nunito', 'Montserrat', 'Rubik', sans-serif;
    font-weight: 700;
}
.plan p {
    margin-top: -10px;
    color: #9ca3af;
    font-weight: 500;
    font-family: system-ui, sans-serif;
}
.plan .price {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    font-family: 'Nunito', 'Montserrat', 'Rubik', sans-serif;
    font-weight: 600;
    letter-spacing: 1px; 
}
.plan .price span {
    font-size: 1rem;
    font-weight: 400;
}
.plan ul {
    list-style: none;
    padding-left: 20px; 
    margin-top: 20px;
    color: #9ca3af;
    text-align: left;
    font-weight: 500;
    font-family: system-ui, sans-serif;
}

.plan ul li {
    margin-bottom: 20px;
}
.plan ul li i svg {
    height: 20px;
    width: 20px;
    margin-bottom: -5px;
}
.plan button {
    margin-top: 20px;
    width: auto; 
    padding: 13px 100px;
    background-color: #374151;
    color: rgba(255, 255, 255, 0.699);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 0.5px; 

}

.plan button:hover {
    background-color: #4b5563;
}
.most-popular {
     border: 1px solid #3b83f694;
}
.most-popular .badge {
    position: absolute;
    top: -15px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #186cf5;
    color: white;
    font-size: 0.8rem; 
    padding: 5px 14px;
    border-radius: 15px; 
}

.most-popular button {
    background-color: #2563eb;
}
.most-popular button:hover {
    background-color: #2563eb;
}
@media (min-width: 768px) {
    .plans {
        flex-direction: row;
        justify-content: center;
    }
}

